.contenedor{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 450px;
    width: 450px;
    border: 2px black solid;
}

.item{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    color: white;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}